#schedule-table {
  width: 100%;

  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.31);
}

#table-heading-row {
  background-color: darkgray;
  color: white;
}

.table-row a {
  color: blue;
}

.table-row:nth-child(even),
#round-results li:nth-child(even) {
  background-color: lightsteelblue;
}

#round-results li:nth-child(odd) {
  background-color: lightyellow;
}

.sponsor {
  display: block;
  font-weight: 300;
  font-size: 1rem;
}

.driver-table {
  width: 100%;
  text-align: center;
}

@media (max-width: 440px) {
  #schedule-results {
    font-size: 10px;
  }
}

.img-wrapper {
  height: 500px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
